@use "../abstracts" as *;

.cart {
  &__toggle {
    padding: 0;
    border: none;
    background: none;
    background-color: white;
    cursor: pointer;
    position: relative;

    &:hover &-icon {
      color: $very-dark-blue;
    }

    &--bump {
      animation: bump 0.3s ease-out forwards;
    }

    // &::after {
    //   content: "2";
    //   position: absolute;
    //   top: -5px;
    //   right: -5px;
    //   color: $white;
    //   font-size: 0.5rem;
    //   display: inline-block;
    //   background-color: $orange;
    //   width: 1rem;
    //   height: 0.8rem;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   border-radius: 50%;
    //   text-align: center;
    // }
  }

  &__toggle-icon {
    display: block;
    color: $dark-grayish-blue;
    transition: all 0.4s ease-out;
  }

  &__item-count {
    position: absolute;
    top: -5px;
    right: -5px;
    color: $white;
    font-size: 0.5rem;
    display: inline-block;
    background-color: $orange;
    width: 1rem;
    height: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
  }

  &__inventory {
    position: absolute;
    top: 4.5rem;
    right: 0;
    width: calc(100vw - 3rem);
    background-color: $white;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

    &--open {
      animation: fade-down 0.3s ease-out forwards;
    }

    &--close {
      animation: fade-up 0.3s ease-out forwards;
    }

    @media (min-width: 46.875em) {
      top: 3.5rem;
      width: 40rem;
    }
  }

  &__heading {
    margin: 0;
    font-size: $fs-500;
    padding: 1.5rem;
    border-bottom: 1px solid $grayish-blue;
  }

  &__items {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 11.25rem;
    gap: 1rem;
  }

  &__empty {
    font-weight: $fw-700;
    color: $dark-grayish-blue;
    text-align: center;
  }

  &__checkout {
    width: 100%;
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-36px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    transform: translateY(-36px);
    opacity: 0;
  }
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
