@use "../abstracts" as *;

.cart {
  &__toggle {
    padding: 0;
    border: none;
    background: none;
  }

  &__inventory {
    position: fixed;
    top: 4.5rem;
    left: 0.5rem;
    width: calc(100% - 1rem);
    min-height: 16rem;
    background-color: $white;
    border-radius: 12px;
    padding: 1rem;
  }

  &__heading {
    margin: 0;
    font-size: 1.1rem;
    padding: 1.5rem;
    border-bottom: 1px solid $grayish-blue;
  }

  &__checkout {
    width: 100%;
  }
}
