@use "../abstracts" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  max-width: 1000px;
  margin-inline: auto;

  @media (min-width: 1000px) {
    border-bottom: 1px solid $grayish-blue;
    padding: 2rem 1rem;
  }
  @media (min-width: 1040px) {
    padding: 2rem 0;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    @media (min-width: 770px) {
      gap: 2rem;
    }
  }

  &__left {
    z-index: 1;
  }

  &__menu {
    @media (min-width: 770px) {
      display: none;
    }
  }

  &__logo {
    transition: 0.3s ease-out;
    img {
      display: block;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__navigation {
    display: none;
    @media (min-width: 770px) {
      display: block;
      ul {
        flex-direction: row;
        gap: 2rem;
      }
      a {
        color: $dark-grayish-blue;
        font-weight: $fw-400;
      }
    }
  }

  &__cart {
    padding: 0;
    border: none;
    background: none;
  }

  &__avatar {
    box-sizing: content-box;
    width: 32px;
    display: block;
    border-radius: 50%;
    border: 2px solid transparent;

    img {
      display: block;
      width: 100%;
    }

    &:hover {
      border: 2px solid $orange;
    }
    @media (min-width: 770px) {
      width: 48px;
    }
  }
}
