@use "../abstracts" as *;

.button {
  border: none;
  background-color: $orange;
  padding: 1.5rem;
  color: $white;
  font-weight: $fw-700;
  border-radius: 14px;
  cursor: pointer;

  &:hover {
    background-color: $medium-orange;
  }
}
