@use "../abstracts" as *;

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-grayish-blue;
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
  border-radius: 14px;

  &__buttons {
    border: none;
    background: none;
    padding: 0.25rem;
    cursor: pointer;
    img {
      display: block;
      filter: invert(52%) sepia(58%) saturate(1809%) hue-rotate(348deg)
        brightness(104%) contrast(101%);
    }

    &:hover img {
      filter: invert(75%) sepia(41%) saturate(704%) hue-rotate(322deg)
        brightness(106%) contrast(98%);
    }
  }

  &__value {
    font-weight: $fw-700;
  }
}
