.image-slider {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 0;

  &__slide {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;

    &--active {
      opacity: 1;
    }
  }

  &__button {
    position: absolute;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    text-align: center;
    z-index: 10;
    cursor: pointer;

    img {
      vertical-align: text-bottom;
    }

    &--previous {
      top: 50%;
      left: 1rem;
      padding-right: 3px;
    }

    &--next {
      top: 50%;
      right: 1rem;
      padding-left: 3px;
    }
  }
}
