@use "../abstracts" as *;

.image-slider {
  z-index: 0;
  max-width: 46.875rem;
  margin-inline: auto;

  @media (min-width: 37.5em) {
    padding: 1rem;
  }

  &__slider {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    @media (min-width: 37.5em) {
      border-radius: 12px;
    }
  }

  &__slide {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    opacity: 0;
    transition: 0.3s ease-out;
    &--active {
      opacity: 1;
    }
  }

  &__button {
    position: absolute;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    text-align: center;
    z-index: 0;
    cursor: pointer;
    top: calc(50% - 1.4rem);
    color: $very-dark-blue;

    &:hover {
      color: $orange;
    }

    svg {
      display: inline;
      vertical-align: text-bottom;
    }

    &--previous {
      left: 1rem;
      // padding-right: 3px;
    }

    &--next {
      right: 1rem;
      // padding-left: 3px;
    }
    @media (min-width: 37.5em) {
      display: none;

      &--previous {
        left: -1.4rem;
      }

      &--next {
        right: -1.4rem;
      }

      &--light-box-mode {
        display: block;
      }
    }
  }

  &__thumbnails {
    display: none;
    margin-top: 2rem;
    gap: 2rem;

    @media (min-width: 37.5em) {
      display: flex;
    }
  }

  &__thumbnail {
    display: block;
    padding: 0;
    border-radius: 12px;
    background: none;
    border: none;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.3s ease-out;

    img {
      width: 100%;
      display: block;
      border-radius: inherit;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.699);
      img {
        mix-blend-mode: lighten;
      }
    }

    &--active {
      border: 3px solid $orange;
      background-color: rgba(255, 255, 255, 0.699);
      img {
        mix-blend-mode: lighten;
      }
    }
  }

  &__light-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: clamp(34.375rem, 40%, 40.625rem);
    margin-inline: auto;
  }

  &__light-box-toggle {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
    margin-right: 1rem;
    width: 1.5rem;
    img {
      display: block;
      width: 100%;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(330deg)
        brightness(104%) contrast(104%);
    }

    &:hover img {
      filter: invert(52%) sepia(58%) saturate(1809%) hue-rotate(348deg)
        brightness(104%) contrast(101%);
    }
  }
}
