@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 100%;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
